@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p {
    @apply font-nunito text-base text-neutral-1000 leading-relaxed;
}

h1 {
    @apply font-nunito text-4xl font-bold text-neutral-1000 leading-tight;
}

h2 {
    @apply font-nunito text-3xl font-medium text-neutral-1000 leading-snug;
}

h3 {
    @apply font-nunito text-2xl font-medium text-neutral-1000 leading-normal;
}

h4 {
    @apply font-nunito text-xl font-medium text-neutral-1000 leading-normal;
}

.no-select {
    user-select: none;
}

.rmdp-wrapper {
    box-shadow: none !important;
    transform: scale(1.2) !important;
}

.rmdp-panel-body li,
.rmdp-panel-body li .b-deselect {
    background-color: #116b3c !important;
}

.rmdp-day.rmdp-today span {
    background-color: #1db566 !important;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
    background-color: #116b3c !important;
}

.rmdp-day:not(.rmdp-day-hidden) span:hover {
    background-color: #179051 !important;
}

.rmdp-week-day {
    color: #116b3c !important;
}

.rmdp-arrow {
    border: solid #116b3c !important;
    border-width: 0 2px 2px 0 !important;
}

.rmdp-arrow-container:hover {
    background-color: #116b3c !important;
}

.rmdp-arrow-container:hover .rmdp-arrow {
    border-color: white !important;
}

/* .rmdp-wrapper{
    box-shadow: none;
    transform: scale(1.2);
}

.rmdp-panel-body li{
    background-color: #116b3c;
    .b-deselect{
        background-color: #116b3c;
    }
}

.rmdp-day.rmdp-today span{
    background-color: #1db566;
}


.rmdp-day.rmdp-selected span:not(.highlight){
    background-color: #116b3c;
}

.rmdp-day:not(.rmdp-day-hidden) span:hover{
    background-color: #179051;
}

.rmdp-week-day {
    color: #116b3c;
}

.rmdp-arrow{
    border: solid #116b3c;
    border-width: 0 2px 2px 0;
}

.rmdp-arrow-container:hover{
    background-color: #116b3c;

    .rmdp-arrow{
        color: white;
    }
} */

@layer base {
  html, body {
    @apply h-full overflow-x-hidden;
  }
  
  #root {
    @apply h-full;
  }
  
  .app-container {
    @apply min-h-full w-full max-w-[1920px] mx-auto px-4 sm:px-6 lg:px-8;
  }
}
