@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p {
    @apply font-nunito text-base text-neutral-1000 leading-relaxed;
}

h1 {
    @apply font-nunito text-4xl font-bold text-neutral-1000 leading-tight;
}

h2 {
    @apply font-nunito text-3xl font-medium text-neutral-1000 leading-snug;
}

h3 {
    @apply font-nunito text-2xl font-medium text-neutral-1000 leading-normal;
}

h4 {
    @apply font-nunito text-xl font-medium text-neutral-1000 leading-normal;
}

.no-select {
    user-select: none;
}

.rmdp-wrapper{
    box-shadow: none;
    transform: scale(1.2);
}

.rmdp-panel-body li{
    background-color: #116B3C;
    .b-deselect{
        background-color: #116B3C;
    }
}

.rmdp-day.rmdp-today span{
    background-color: #1DB566;
}


.rmdp-day.rmdp-selected span:not(.highlight){
    background-color: #116B3C;
}

.rmdp-day:not(.rmdp-day-hidden) span:hover{
    background-color: #179051;
}

.rmdp-week-day {
    color: #116B3C;
}

.rmdp-arrow{
    border: solid #116B3C;
    border-width: 0 2px 2px 0;
}

.rmdp-arrow-container:hover{
    background-color: #116B3C;

    .rmdp-arrow{
        color: white;
    }
}
