.group-availability {
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    gap: 5px;
    width: 400px;
    font-family: Arial, sans-serif;
  }
  
  .availability-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
  }
  
  .red {
    background-color: #ffdee2;
    color: #721c24;
  }
  
  .light-red {
    background-color: #f6bdc2;
    color: #721c24;
  }
  
  .yellow {
    background-color: #ffeeba;
    color: #856404;
  }
  
  .green {
    background-color: #d4edda;
    color: #155724;
  }
  
  .dark-green {
    background-color: #c3e6cb;
    color: #155724;
  }
  
  .availability-text {
    font-weight: bold;
  }
  
  .user-count {
    display: flex;
    gap: 5px;
  }
  
  .user-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
  }
  