.group-availability {
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    gap: 5px;
    width: 400px;
    font-family: Arial, sans-serif;
  }
  
  .availability-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    border: 2px;
    border-style: solid;
    font-size: 14px;
  }
  
  .very-low-availability {
    background-color: #F4B8BC;
    color: #7E131A;
    border-color: #7E131A;
    opacity: 40%;
  }
  
  .low-availability {
    background-color: #FACDA7;
    color: #E57414;
    border-color: #E57414;
    opacity: 50%;
  }
  
  .med-availability {
    background-color: #FFE291;
    color: #DFA400;
    border-color: #DFA400;
    opacity: 80%;
  }
  
  .high-availability {
    background-color: #ABCF8E;
    color: #43840F;
    border-color: #43840F;
    opacity: 80%;
    font-weight: bold;
  }

  .full-availability {
    background-color: #57BB8A;
    color: #00582D;
    border-color: #00582D;
    opacity: 100%;
    font-weight: bold;
  }
  
  .availability-text {
    /* font-weight: bold; */
  }
  
  .user-count {
    display: flex;
    gap: 5px;
  }
  
  .user-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
  }
  